.profile_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f5e6d;
    color: #eaeaea;
    border-radius: 30px;
    --width: 50%;
    --max-width: 60%;
    margin: 0 auto;
}

.user_icon {
    height: 300px;
}