

.second_section {
    display:  flex;
    font-family: 'Russo';
    font-weight: 400;
    justify-content: space-between;
    color: #1f5d6d;
    font-weight: 100;
    padding-top: 20px;
}

.user_info_section {
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 49%;
    background-color: #638889;
    color: white;
   
    --border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5%;
    box-sizing: border-box;
}

.user_info_data_block {
    font-family: 'Raleway';
    font-weight: 400;
    display: flex;
}

.searh_section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 49%;
    --border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.collars_section {
    display: flex;
    border-radius: 30px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

.user_icon {
    height: 100px;
}





