.home_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_section {
  min-height: 90vh;
  max-height: 90vh; /* Устанавливаем минимальную высоту равную 100% высоты видимой области экрана */
  height: 100%;
  background: url(/images/main-slide-origin.jpg) no-repeat #eaeaea;
  background-position: 66% 70%;
  display: flex; 
}

.slogan_main_section {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  padding-left: 5%; 
}

.slogan_container {
  /*box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);*/
  padding: 10px;
  padding-bottom: 30px;
}

.pet_img_main_section {
  max-width: 90vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  --align-items: right;
  justify-content: center;
  box-sizing: border-box;
  background-color: #eaeaea;
  color: #1f5e6d;
  background-position: center center; /* Выравнивание изображения по центру блока */
  box-shadow: -15px 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Caveat';
}

.button_slogan {
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  padding: 2%;
  color: white;
  background-color: #1f5d6d;
  font-family: 'Russo';
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  /*background: linear-gradient(to right, #1f5e6d 60%, #5b00ab);*/
}

.app_name {
  color: #1f5e6d;
  font-size: 2em;
}

.slogan {
  color: black;
}

.slogan_text {
  font-size: 0.8em
}

.how_it_work_text {
  font-size: 1.5em;
  color: #1f5e6d;
  font-family: 'Caveat';
}

.carousel {
  display: flex;
  align-items: right;
  justify-content: right;
  box-sizing: border-box;
}

.carousel_slide {
max-width: 100%;
display: flex;
  align-items: right;
  justify-content: end;
}

.statistics {

}
