.registration_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.registration_section_container {
    background-color: #1f5e6d;
    color: #eaeaea;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    min-width: 20%;
}

.registration_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
}

.registration_form_input {
    padding: 10px;
    display: flex;
    font-family: 'Russo';
}

.registration_form_button {
    padding: 10px;
    font-family: 'Russo';
    display: flex;
    justify-content: center;
}