.delimeter {
    color: white;
  }
  
  .right_menu_buttons {
    width: 270px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 900;
    color:white !important;
  }

  .register_link {
    border: 2px solid white;
    padding: 0.5%;
    color: white !important;
  }

  .login_link {
    color: white !important;
  }