.horizontal_menu {
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  .register_link {
    border: 2px solid #1f5e6d;
    padding: 0.5%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    flex: 1;
    text-align: center;
}

a {
  color: #2c2f34;
  text-decoration: none;
  font-weight: 100;
}

