.horizontal_menu {
    color: white;
  }

  .register_link {
    border: 2px solid #1f5e6d;
    padding: 0.5%;
  }

  .horizontal_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal_menu a {
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-weight: 100;
}

.delimeter {
  color: #1f5e6d;
}

.horizontal_menu_right_buttons {
  width: 300px;
}

.horizontal_menu_login_icon {
  color:#000000;
}

.horizontal_menu_login_link {
  text-decoration: underline !important;
}